@import "../external/node_modules/bootstrap/scss/bootstrap";

html {
  background-color: $dark;
    overflow-x: hidden;
}
body {
  background-color: $dark;
  overflow-x: hidden;
}
.row {
  background-color: $dark;
}
